.hero-image-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.unsplash.com/photo-1541264161754-445bbdd7de52?q=80&w=3270&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

.hero-image-container {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-image-container {
    width: 1400px;
    margin: 50px 0px 30px 50px;
    box-shadow: 0px 0px 10px 10px #626592;
}

.hero-text {
    padding: 15px 40px 20px 40px;
}

.hero-text h1 {
    font-size: 35px;
}

/* SPECIAL EFFECTS */
.hero-image-container:hover {
    box-shadow: 0px 0px 10px 10px #ffffff;
}