.info-container-box {
    display: flex;
}

.info-image-box img {
    width: 700px;
    height: 380px;
}

.info-image-box {
    float: left;
}

.info-text-box {
    float: right;
}

.info-text-box {
    color: #000000;
    text-align: center;
}

.info-text-box h1 {
    font-size: 35px;
}

.info-text-box h2 {
    font-size: 30px;
}

.info-text-box p {
    font-size: 20px;
}