/* TEXT ALIGN: CENTER */
.text, .formbutton, label, .contactform h1, #option-one-contact, #phone-number-contact, #front-desk-contact, .last-option-contact, .faq-link-contact-page a, .hero-text {
    text-align: center;
  }
  /* END TEXT ALIGN: CENTER */
  
  /* PADDING:10PX */
  .contactform, .checkoutform, ul {
    padding: 10px;
  }
  /* END PADDING:10PX */
  
  /* FONT-SIZE: 30PX */
  .contactform h1, #option-one-contact h1, #phone-number-contact h1, #front-desk-contact h1, .last-option-contact h1, .hero-text h2 {
    font-size: 30px;
  }
  /* END FONT-SIZE: 30PX */
  
  /* BORDER: 2PX SOLID BLACK */
  .contactform, .checkoutform, input, textarea, #option-one-contact, #phone-number-contact, #front-desk-contact, .last-option-contact {
    border: 2px solid #000000;
  }
  /* END BORDER: 2PX SOLID BLACK */
  
  /* COLOR: BLACK */
  .contactform, .checkoutform, label, #option-one-contact, #phone-number-contact, #front-desk-contact, .last-option-contact, #option-one-contact a {
    color: #000000;
  }
  /* END COLOR: BLACK */
  
  /* COLOR: WHITE */
  .faq-link-contact-page a, .formbutton a, .hero-text {
    color: #ffffff;
  }
  /* END COLOR: WHITE */
  
  /* TEXT-DECORATION: NONE */
  #option-one-contact a, .faq-link-contact-page a, .formbutton a {
    text-decoration: none;
  }
  /* END TEXT-DECORATION: NONE */
  
  /* BORDER: 2PX SOLID WHITE */
  #option-one-contact:hover, #phone-number-contact:hover, #front-desk-contact:hover, .last-option-contact:hover, .faq-link-contact-page, .formbutton, .hero-image-container {
    border: 2px solid #ffffff;
  }
  /* END BORDER: 2PX SOLID WHITE */
  
  /* FONT-SIZE: 25PX */
  .formbutton a, .faq-link-contact-page a, label {
    font-size: 25px;
  }
  /* END FONT-SIZE: 25PX */
  
  /* FONT-SIZE: 20PX */
  #option-one-contact a, input, textarea, #phone-number-contact p, #front-desk-contact p, .last-option-contact p, .hero-text p {
    font-size: 20px;
  }
  /* END FONT-SIZE: 20PX */