.text {
    margin-left: -20px;
    padding-top: 10%;
  }

.contactform, .checkoutform {
    background-color: #c1eabc;
    width: 750px;
    border-radius: 1em;
    box-shadow: 0px 0px 10px 10px #626592;
  }

.contactform {
    margin: 50px auto;
  }

.checkoutform {
    margin: 20px;
  }

ul {
    list-style: none;
    margin: 10px;
  }
  
label {
    display: inline-block;
    width: 200px;
  }
  
label::after {
    content: ":";
  }

input, textarea {
  width: 400px;
  box-sizing: border-box;
  outline: none;
  background-color: #ffffff;
}

textarea {
  vertical-align: middle;
  height: 5em;
  resize: vertical;
  resize: none;
}

.formbutton {
  background-color: #2E7702;
  box-shadow: 5px 5px 10px 5px #50CE03;
  float: auto;
  cursor: pointer;
  border-radius: 15px;
  width: 250px;
  padding-bottom: 10px;
  margin: 30px 0px 0px 250px;
}

label {
    width: 300px;
}

#option-one-contact, #phone-number-contact, #front-desk-contact, .last-option-contact {
    width: 400px;
}

#option-one-contact {
  background-color: #E49BC4;
}

#phone-number-contact {
  background-color: #F2D0A5;
}

#front-desk-contact {
  background-color: #A0D9F3;
}

.last-option-contact {
  background-color: #FBFAC8;
}

#phone-number-contact p, #front-desk-contact p, .last-option-contact p {
    padding: 0px 20px 0px 20px;
}

#option-one-contact, #phone-number-contact, #front-desk-contact {
    margin: 40px 0px 50px 70px;
}

.last-option-contact {
    height: 250px;
    margin-left: 550px;
    margin-bottom: 50px;
}

.faq-link-contact-page {
    width: 200px;
    box-shadow: 5px 5px 10px 5px #094CDB;
    background-color: #023299;
    border-radius: 20px;
    margin-left: 100px;
}

/* SPECIAL EFFECTS */
.faq-link-contact-page:hover, .faq-link-contact-page:hover {
  background-color: #2E7702;
  box-shadow: 5px 5px 10px 5px #50CE03;
}

.contactform:hover {
  background-color: #B1DEF1;
  box-shadow: 5px 5px 10px 10px #fafafa;
  width: 850px;
}

#option-one-contact:hover, #phone-number-contact:hover, #front-desk-contact:hover, .last-option-contact:hover {
  background-color: #CBB7ED;
  box-shadow: 5px 5px 10px 5px #826EB0;
}

#option-one-contact a:hover{
  color: red;
  font-size: 25px;
}

#option-one-contact:hover, #phone-number-contact:hover, #front-desk-contact:hover {
  width: 500px;
  margin-left: 30px;
}

#first-name:hover, #last-name:hover, #phone-number:hover, #email-filed:hover {
  height: 60px;
}

#first-name:hover, #last-name:hover, #phone-number:hover, #email-filed:hover, #question-filed:hover {
  width: 500px;
}

#question-filed:hover {
  height: 130px;
}

.formbutton:hover {
  background-color: #023299;
  box-shadow: 5px 5px 10px 5px #094CDB;
}