.text {
    margin-left: -20px;
    padding-top: 10%;
    text-align: center;
  }

.contactform, .checkoutform {
    background-color: #ffffff;
    color: #000000;
    width: 750px;
    padding: 1em;
    border: 2px solid #000000;
    border-radius: 1em;
    box-shadow: 5px 5px 10px 20px #fafabe;
  }

.contactform {
    margin: 50px auto;
  }

.checkoutform {
    margin: 20px;
  }

ul {
    list-style: none;
    padding: 10px;
    margin: 10px;
  }
  
label {
    display: inline-block;
    width: 200px;
    text-align: center;
  }
  
label::after {
    content: ":";
  }

input,textarea {
  font-size: 20px;
  width: 400px;
  box-sizing: border-box;
  border: 2px solid #000000;
  outline: none;
  background-color: #fafabe;
}

textarea {
  vertical-align: middle;
  height: 5em;
  resize: vertical;
  resize: none;
}

.formbutton {
  border: 2px solid #000000;
  background-color: #C4FAF8;
  float: auto;
  cursor: pointer;
  border-radius: 15px;
  width: 250px;
  text-align: center;
  padding-bottom: 10px;
  margin: 30px 0px 0px 200px;
}

.formbutton a {
    text-decoration: none;
    color: #000000;
    font-size: 25px;
}

label {
    color: #000;
    font-size: 25px;
    width: 300px;
}