.button-header:hover, .hero-image-button:hover {
    background-color: #c4faf8;
}

.hero-image-button:hover {
    box-shadow: 5px 5px 10px 5px #c7caff;
    background-color: #c4faf8;
    border: 2px solid #c7caff;
}

.specifc-file-text:hover {
    background-color: #c4faf8;
}

.specifc-file-text-one:hover {
    background-color: #FAC898;
}

#footer-option-four a:hover {
    color: #023288;
}

.info-box:hover {
   background-color: #FAC898;
}

.info-box-one:hover {
    background-color: #F8C8DC;
}

.visit-us-box-one:hover {
    background-color: #c1eabc;
    box-shadow: 5px 5px 10px 12px #ACCDA8;
}

#openning-hours-box:hover, #faq-questions-visit-us:hover {
    background-color: #023288;
    color: #ffffff;
}

#free-admision-box:hover {
    background-color: #2E7702;
    color: #ffffff;
}