.exhibitions-one, .exhibitions-two, .exhibitions-three, .exhibition-four, .exhibitions-five, .exhibtions-six, .exhibtions-seven, .exhibtions-eight, .exhibitions-nine, .exhibitions-teen, .exhibition-eleven, .exhibition-twelve, .exhibition-thirten, .exhibition-fourteen, .exhibition-fifteen, .exhibition-sixteen, .exhibition-seventeen, .exhibition-eighteen, .exhibition-ninteen, .exhibition-twenty {
    margin-left: 200px;
}

.info-box {
    background-color: #023288;
}

.info-box-one {
    background-color: #2E7702;
}

.info-box p, .info-box-one p {
    font-size: 18px;
    padding: 0px 20px 0px 20px;
}

.info-box h1, .info-box-one h1 {
    text-decoration: underline;
}

h1 {
    font-size: 45px;
    text-align: center;
}

/* FOOTER */
#footer-option-one h1, #footer-option-two h1, #footer-option-three h1, #footer-option-four h1 {
    margin-left: 0px;
}
/* END FOOTER */

/* SPECIAL EFFECTS */
.info-box:hover {
    background-color: #FFA854;
}

.info-box-one:hover {
    background-color: #F36DC2;
}

.exhibition-sixteen:hover, .exhibitions-one:hover, .exhibitions-two:hover, .exhibition-fifteen:hover, .exhibitions-three:hover, .exhibition-four:hover, .exhibtions-six:hover, .exhibtions-seven:hover, .exhibtions-eight:hover, .exhibitions-nine:hover, .exhibitions-teen:hover, .exhibition-eleven:hover, .exhibition-twelve:hover, .exhibition-thirten:hover, .exhibition-fourteen:hover, .exhibition-seventeen:hover, .exhibition-eighteen:hover, .exhibition-ninteen:hover, .exhibition-twenty:hover, .exhibitions-five:hover {
    box-shadow: 0px 0px 10px 12px #ffffff;
    width: 1100px;
}