.for-kids-section-explore-page, .for-teachers-section-explore-page, .for-researchers-section-explore-page {
    width: 1200px;
    border-radius: 20px;
    border: 2px solid #ffffff;
    color: #000000;
    text-align: center;
    margin-top: 30px;
    margin-left: 160px;
}

.for-kids-section-explore-page {
    background-color: cadetblue;
    height: 500px;
}

.for-teachers-section-explore-page {
    background-color: brown;
    height: 300px;
}

.for-researchers-section-explore-page {
    background-color: darkgreen;
    margin-bottom: 30px;
    height: 300px;
}

.explore-text h1, .explore-text-one h1 {
    font-size: 35px;
}

.explore-text p, .explore-text-one p {
    font-size: 20px;
    width: 800px;
}

.explore-text-one p {
    padding-left: 50px;
}

.explore-text-one h1{
    padding-left: 80px;
}

.explore-text {
    margin-left: 40px;
}

.explore-image img {
    width: 300px;
    height: 450px;
}

.explore-image-one img, .explore-image-two img {
    width: 190px;
    height: 250px;
}

.explore-image, .explore-image-two {
    float: left;
    margin-left: 20px;
    margin-top: 20px;
}

.explore-image-one {
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    margin-left: 80px;
}

.explore-box-container {
    display: flex;
}