/* STICKY HEADER + FOOTER*/
html, body {
    box-sizing: border-box;
    height: 100%;
    padding: 0;
    margin: 0;
  }
  
body {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
  }
  
header.page-header, footer.page-footer {
    flex-grow: 0;
    flex-shrink: 0;
    color: #fafafa;
    background-color: #ffffff;
    padding: 10px;
  }
  
main.page-body {
    flex-grow: 1;
    padding: 0 10px;
    background-color: #c7caff;
    color: black;
  }

/* ENDSTICKY HEADER + FOOTER*/

/* MENU CODE */
#mymenu {
    width: 0;
  }
  
  .menubar {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #000000;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align: center;
  }
  
  .menubar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .menubar a:hover {
    color: #ffffff;
  }
  
  .menubar {
    font-size: 20px;
    line-height: 22px;
  }
  
  .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  }

/* END MENU CODE */

/* HEADER CODE */
.page-header {
    display: flex;
}

.header-museum-name img {
    width:400px;
    height: 120px;
}

.header-museum-name {
   margin-left: -30px;
   margin-right: 0px;
   width: 320px;
}

.flex-menu {
    margin-top: 30px;
}

.flex-menu img {
    width: 65px;
    height: 65px;
}

.flex-menu {
    display: none;
}

#exhibitions-button-header {
    margin-left: 550px;
}

.button-header {
    width: 150px;
    background-color: #FFA6C1;
    height: 45px;
    border-radius: 20px;
    border: 2px solid black;
    text-align: center;
    margin-top: 35px;
    padding-top: 5px;
    margin-right: 20px;
}

.button-header a {
    text-decoration: none;
    color: #000000;
    font-size: 25px;
}

/*  END HEADER CODE */

/* FOOTER CODE */
.page-footer {
    display: flex;
}

#footer-option-one, #footer-option-three {
    width: 500px;
}

#footer-option-two, #footer-option-four {
    width: 400px;
}

#footer-option-one h1, #footer-option-one p, #footer-option-two h1, #footer-option-two p, #footer-option-three h1, #footer-option-three p, #footer-option-four h1, #footer-option-four p {
    color: #000000;
}

#footer-option-one h1, #footer-option-two h1, #footer-option-three h1, #footer-option-four h1 {
    font-size: 25px;
}

#footer-option-one h1 {
    margin-left: 70px;
}

#footer-option-one p {
    width: 450px;
    font-size: 15px;
    text-align: center;
}

#footer-option-four p {
    width: 270px;
    font-size: 15px;
    text-align: center;
    margin-left: -10px;
}

#footer-option-two p, #footer-option-three p, #footer-option-four a {
    font-size: 15px;
    text-align: center;
    text-decoration: none;
}

#footer-option-four a {
    color: red;
    width: 400px;
}

#partnerships-footer {
    margin-left: 85px;
}

#contact-footer {
    margin-left: 95px;
}

#about-fotter {
    margin-left: 100px;
}

#explore-footer {
    margin-left: 70px;
}

#practical-information-fotter {
    margin-left: 60px;
}

#footer-option-two h1 {
    margin-left: 60px;
}

#footer-option-three h1 {
    margin-left: 100px;
}

#footer-option-four h1 {
    margin-left: 20px;
}

#footer-option-two {
    margin-left: 70px;
}

#footer-option-three {
    margin-left: 20px;
}

#footer-option-four {
    margin-left: 50px;
}

#monday-footer-option {
    text-decoration: line-through;
}

#footer-option-three h1 {
    margin-left: 120px;
}

#footer-option-three h2 {
    font-size: 25px;
    color: #000000;
    margin-left: 70px;
}

#footer-option-one {
    margin-left: 10px;
}

/* END FOOTER CODE */

