.hero-image-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.unsplash.com/photo-1491156855053-9cdff72c7f85?q=80&w=3028&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

.hero-image-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 300px;
    width: 102%;
    margin-left: -10px;
    margin-top: -30px;
}

.hero-text {
    color: #ffffff;
    text-align: center;
}

.hero-text h1 {
    font-size: 45px;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.hero-image-button {
    background-color: #023299;
    width: 530px;
    border-radius: 20px;
    border: 2px solid #ffffff;
    margin-left: 500px;
    box-shadow: 5px 5px 10px 5px #094CDB;
    margin-top: 40px;
}

.hero-image-button a {
    text-decoration: none;
    color: #ffffff;
}

.specifc-file-option-one, .specifc-file-option-two, .specifc-file-option-three, .specifc-file-option-four, .specifc-file-option-five, .specifc-file-option-six, .specifc-file-option-seven, .specifc-file-option-eight, .specific-file-option-nine, .specific-file-option-teen, .specific-file-option-eleven, .specific-file-option-twelve {
    display: flex;
    margin-top: 50px;
    margin-left: 50px;
}

#specifc-file-image img {
    height: 350px;
    width: 700px;
    border-radius: 20px;
    border: 2px solid snow;
}

.specifc-file-option-eight {
    margin-bottom: 50px;
}

.specifc-file-text, .specifc-file-text-one {
    height: 350px;
    width: 700px;
    border-radius: 20px;
    border: 2px solid snow;
}

.specifc-file-text {
    background-color: #c1eabc;
}

.specifc-file-text-one {
    background-color: #F8C8DC;
}

#specifc-file-header h1 {
    font-size: 30px;
    text-align: center;
    color: #000000;
}

#specific-file-info {
    text-align: center;
    font-size: 17px;
    color: #000000;
}

#specific-file-info p {
    padding-left: 20px;
    padding-right: 20px;
}

.header-of-specific-page h1 {
    font-size: 40px;
    color: #000000;
    margin-left: 400px;
    margin-top: 100px;
}

.header-of-specific-page h1 {
    text-decoration: underline;
}

#specific-file-info a {
    color: #FF0303;
    text-decoration: underline;
}

/* SPECIAL EFFECTS */

.hero-image-button:hover {
    background-color: #2E7702;
    box-shadow: 5px 5px 10px 5px #50CE03;
}

.specifc-file-text:hover {
    background-color: #fafabe;
}

.specifc-file-text-one:hover {
    background-color: #fac898;
}