.partnerships-info-page {
    background-color: aquamarine;
    border-radius: 20px;
    border: 2px solid black;
    margin-left: 250px;
    margin-top: 50px;
    width: 1000px;
}
.partnerships-info-page h1, h1 {
    text-align: center;
    font-size: 35px;
}

.partnerships-info-page p {
    font-size: 20px;
    padding: 0px 30px 0px 30px;
}

.parnterships-overview, .parnterships-overview-last {
    display: flex;
    background-color: chartreuse;
    font-size: 25px;
    margin-top: 30px;
    text-align: center;
}

#space-x-option, #daily-wire-option, #young-americas-foundation-option, #republicans-comiite-option, #nasa-option, #greenpeace-option, #apple-option, #nfl-option, #harvard-universtiy-option, #yale-option, #brown-option, #tesla-fundation-option, #archelogy-option, #world-animal-protection-option, #grail-option, #end-point-option, #forbes-option, #microsoft-option, #meta-option, #samsung-option, #berkshire-hathaway-option, #visa-option, #mckenson-corporation-option, #occidental-petroleum-option, #tesla-option, #nba-option, #formation-bio-option, #sony-option {
    margin-left: 50px;
}

#tesla-option a, #space-x-option a, #daily-wire-option a, #young-americas-foundation-option a, #republicans-comiite-option a, #nasa-option a, #greenpeace-option a, #apple-option a, #nfl-option a, #nba-option a, #harvard-universtiy-option a, #yale-option a, #brown-option a, #tesla-fundation-option a, #archelogy-option a, #world-animal-protection-option a, #grail-option a, #formation-bio-option a, #end-point-option a, #forbes-option a, #microsoft-option a, #meta-option a, #samsung-option a, #sony-option a, #berkshire-hathaway-option a, #visa-option a, #mckenson-corporation-option a, #occidental-petroleum-option a {
    text-decoration: none;
    color: red;
}

#tesla-option, #space-x-option, #daily-wire-option, #young-americas-foundation-option, #republicans-comiite-option, #nasa-option, #greenpeace-option, #apple-option, #nfl-option, #nba-option, #harvard-universtiy-option, #yale-option, #brown-option, #tesla-fundation-option, #archelogy-option, #world-animal-protection-option, #grail-option, #formation-bio-option, #end-point-option, #forbes-option, #microsoft-option, #meta-option, #samsung-option, #sony-option, #berkshire-hathaway-option, #visa-option, #mckenson-corporation-option, #occidental-petroleum-option {
    background-color: #ffffff;
    border-radius: 20px;
    border: 2px solid black;
    height: 40px;
}

#tesla-option, #space-x-option, #daily-wire-option,  #young-americas-foundation-option, #republicans-comiite-option, #nasa-option, #greenpeace-option, #apple-option {
    padding-top: 10px;
}

#tesla-option, #nasa-option {
    width: 100px;
}

#space-x-option, #apple-option {
    width: 150px;
}

#daily-wire-option, #greenpeace-option {
    width: 200px;
}

#young-americas-foundation-option {
    width: 350px;
}

#republicans-comiite-option {
    width: 400px;
}