.partnerships-info-page {
    background-color: aquamarine;
    width: 1000px;
    border-radius: 20px;
    border: 2px solid black;
    margin-left: 250px;
    margin-top: 50px;
}

.partnerships-info-page h1, h1 {
    text-align: center;
    font-size: 35px;
}

.partnerships-info-page p {
    font-size: 20px;
    padding: 0px 30px 0px 30px;
}

.parnterships-overview {
    display: flex;
    background-color: chartreuse;
    font-size: 25px;
}

#space-x-option, #daily-wire-option, #young-americas-foundation-option, #republicans-comiite-option, #nasa-option, #greenpeace-option, #apple-option, #nfl-option, #harvard-universtiy-option, #yale-option, #brown-option, #tesla-fundation-option, #archelogy-option, #world-animal-protection-option, #grail-option, #end-point-option, #forbes-option, #microsoft-option, #meta-option, #samsung-option {
    margin-left: 30px;
}

#tesla-option a, #space-x-option a, #daily-wire-option a, #young-americas-foundation-option a, #republicans-comiite-option a, #nasa-option a, #greenpeace-option a, #apple-option a, #nfl-option a, #nba-option a, #harvard-universtiy-option a, #yale-option a, #brown-option a, #tesla-fundation-option a, #archelogy-option a, #world-animal-protection-option a, #grail-option a, #formation-bio-option a, #end-point-option a, #forbes-option a, #microsoft-option a, #meta-option a, #samsung-option a {
    text-decoration: none;
    color: red;
}