.partnerships-info-page {
    background-color: #c1eabc;
    border-radius: 20px;
    border: 2px solid black;
    width: 1000px;
    margin: 80px 0px 80px 270px;
}
.partnerships-info-page h1 {
    text-align: center;
    font-size: 35px;
}

.partnerships-info-page p {
    font-size: 20px;
    padding: 0px 30px 0px 30px;
}

.parnterships-overview, .parnterships-overview-last {
    display: flex;
    font-size: 25px;
    margin-top: 30px;
    text-align: center;
    margin-left: -15px;
}

#space-x-option, #daily-wire-option, #young-americas-foundation-option, #republicans-comiite-option, #greenpeace-option, #apple-option, #nfl-option, #harvard-universtiy-option, #yale-option, #brown-option, #tesla-fundation-option, #archelogy-option, #world-animal-protection-option, #grail-option, #end-point-option, #forbes-option, #microsoft-option, #meta-option, #samsung-option, #berkshire-hathaway-option, #visa-option, #mckenson-corporation-option, #occidental-petroleum-option, #tesla-option, #nba-option, #formation-bio-option, #sony-option, #nasa-option, #benchling-option, #ubisoft-option, #rockstar-games-option, #varjo-option, #niantic-option, #htc-option {
    margin-left: 50px;
    box-shadow: 0px 0px 10px 10px #626592;
}

#tesla-option a, #space-x-option a, #daily-wire-option a, #young-americas-foundation-option a, #republicans-comiite-option a, #nasa-option a, #greenpeace-option a, #apple-option a, #nfl-option a, #nba-option a, #harvard-universtiy-option a, #yale-option a, #brown-option a, #tesla-fundation-option a, #archelogy-option a, #world-animal-protection-option a, #grail-option a, #formation-bio-option a, #end-point-option a, #forbes-option a, #microsoft-option a, #meta-option a, #samsung-option a, #sony-option a, #berkshire-hathaway-option a, #visa-option a, #mckenson-corporation-option a, #occidental-petroleum-option a, #benchling-option a, #ubisoft-option a, #rockstar-games-option a, #varjo-option a, #niantic-option a, #htc-option a {
    text-decoration: none;
    color: #FF0303;
}

#tesla-option, #space-x-option, #daily-wire-option, #young-americas-foundation-option, #republicans-comiite-option, #nasa-option, #greenpeace-option, #apple-option, #nfl-option, #nba-option, #harvard-universtiy-option, #yale-option, #brown-option, #tesla-fundation-option, #archelogy-option, #world-animal-protection-option, #grail-option, #formation-bio-option, #end-point-option, #forbes-option, #microsoft-option, #meta-option, #samsung-option, #sony-option, #berkshire-hathaway-option, #visa-option, #mckenson-corporation-option, #occidental-petroleum-option, #benchling-option, #ubisoft-option, #rockstar-games-option, #varjo-option, #niantic-option, #htc-option {
    background-color: #ffffff;
    border-radius: 20px;
    border: 2px solid black;
    height: 40px;
}

#tesla-option, #space-x-option, #daily-wire-option,  #young-americas-foundation-option, #republicans-comiite-option, #nasa-option, #greenpeace-option, #apple-option, #nfl-option, #nba-option, #harvard-universtiy-option, #samsung-option, #yale-option, #brown-option, #tesla-fundation-option, #grail-option, #microsoft-option, #archelogy-option, #world-animal-protection-option, #berkshire-hathaway-option, #forbes-option, #formation-bio-option, #meta-option, #visa-option, #occidental-petroleum-option, #mckenson-corporation-option, #end-point-option, #sony-option, #benchling-option, #ubisoft-option, #rockstar-games-option, #varjo-option, #niantic-option, #htc-option {
    padding-top: 10px;
}

#tesla-option, #nasa-option, #nfl-option, #nba-option, #grail-option, #meta-option, #visa-option, #sony-option, #htc-option {
    width: 100px;
}

#space-x-option, #apple-option, #samsung-option, #microsoft-option, #forbes-option, #benchling-option, #ubisoft-option, #niantic-option {
    width: 150px;
}

#daily-wire-option, #greenpeace-option, #formation-bio-option {
    width: 200px;
}

#harvard-universtiy-option, #yale-option, #end-point-option, #rockstar-games-option, #varjo-option {
    width: 250px;
}

#brown-option, #berkshire-hathaway-option, #occidental-petroleum-option, #mckenson-corporation-option {
    width: 300px;
}

#young-americas-foundation-option, #tesla-fundation-option, #world-animal-protection-option {
    width: 350px;
}

#republicans-comiite-option, #archelogy-option {
    width: 400px;
}

.parnterships-overview-last {
    margin-bottom: 100px;
}

/* SPECIAL EFFECTS */

#young-americas-foundation-option:hover, #tesla-option:hover, #space-x-option:hover, #republicans-comiite-option:hover, #daily-wire-option:hover, #nasa-option:hover, #greenpeace-option:hover {
    background-color: #023299;
    box-shadow: 5px 5px 10px 5px #094CDB;
    border: 2px solid #ffffff;
    padding-bottom: 10px;
    margin-top: -10px;
}

#young-americas-foundation-option a:hover, #tesla-option a:hover, #space-x-option a:hover, #republicans-comiite-option a:hover, #daily-wire-option a:hover, #nasa-option a:hover, #greenpeace-option a:hover {
    color: #ffffff;
    font-size: 30px;
}

#young-americas-foundation-option:hover {
    width: 450px;
}

#republicans-comiite-option:hover {
    width: 500px;
}

#daily-wire-option:hover, #greenpeace-option:hover {
    width: 250px;
}

#tesla-option:hover, #nasa-option:hover, #space-x-option:hover {
    width: 200px;
}

#tesla-option:hover, #republicans-comiite-option:hover, #daily-wire-option:hover, #young-americas-foundation-option:hover, #nasa-option:hover, #greenpeace-option:hover {
    margin-left: 20px;
}