.pratical-information-info-box {
    display: flex;
}

.image-info-box img {
    width: 800px;
    height: 480px;
}

.text-info-box {
    color: #000000;
    text-align: center;
    width: 700px;
    padding-left: 20px;
    padding-right: 20px;
}

.text-info-box h1 {
    font-size: 35px;
}

.text-info-box p {
    font-size: 20px;
}

#phone-number {
    text-decoration: underline;
}

.text-info-box a {
    text-decoration: underline;
    color: #000000;
}

.pratical-information-info-box {
    margin-top: 20px;
    margin-bottom: 25px;
}

.unfold-question-thing {
    background-color: #c1eabc;
    color: #000000;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}
  
.active, .unfold-question-thing:hover {
    background-color: #FFA6C1;
}
  
.unfold-question-thing-content-text {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}