.support-image img {
    width: 400px;
    height: 250px;
    border-radius: 20px;
}

.support-image {
    margin-left: 320px;
    margin-top: 20px;
}

.support-us-option, .volunteer-option, .interships-option {
    width: 1000px;
    margin-left: 300px;
    border: 2px solid #ffffff;
    margin-top: 50px;
    border-radius: 20px;
    height: 650px;
}

.support-us-option {
    background-color: #F8C8DC;
}

.interships-option {
    background-color: #C4FAF8;
}

.volunteer-option {
    background-color: #c1eabc;
}

.interships-option {
    margin-bottom: 50px;
}

.support-text h1 {
    font-size: 35px;
    color: #000000;
    text-align: center;
}

.support-text p {
    font-size: 20px;
    color: #000000;
    padding: 0px 50px 0px 50px;
}

.support-button, .support-button-form {
    background-color: aliceblue;
    text-align: center;
    border: 2px solid black;
    border-radius: 20px;
    width: 550px;
    padding: 5px 0px 10px 0px;
}

.support-button-form {
    margin-left: 300px;
}

.support-button {
    margin-left: 250px;
}

.support-button a, .support-button-form a {
    text-decoration: none;
    color: #FF0303;
    font-size: 22px;
}

.donation-form {
    width: 1200px;
    font-size: 20px;
    outline: none;
    margin: 50px 0px 0px 200px;
    background-color: #7299ED;
}

#amount-one {
    margin-left: 200px;
}

#whole-custome-amount {
    margin-left: 250px;
}

#amount-two, #amount-three, #amount-four, #amount-five {
    margin-left: 60px;
}

input {
    outline: none;
    height: 20px;
    width: 20px;
}

textarea {
    font-size: 20px;
    width: 400px;
    box-sizing: border-box;
    outline: none;
    vertical-align: middle;
    height: 30px;
    resize: vertical;
    resize: none;
  }

h1 {
    text-align: center;
  }

/* FOOTER */
#footer-option-one h1, #footer-option-two h1, #footer-option-three h1, #footer-option-four h1 {
    margin-left: 0px;
}

/* END FOOTER */

/* SPECIAL EFFECTS*/
.donation-form:hover {
    background-color: #AB95DF;
    box-shadow: 5px 5px 10px 15px #5D4B86;
}

.volunteer-option:hover, .support-us-option:hover, .interships-option:hover {
    box-shadow: 5px 5px 10px 15px #ffffff;
}

input:hover {
    width: 40px;
    height: 40px;
}

textarea:hover {
    width: 500px;
    height: 80px;
}