.support-image img {
    width: 400px;
    height: 250px;
    border-radius: 20px;
}

.support-image {
    margin-left: 320px;
    margin-top: 20px;
}

.support-us-option, .volunteer-option, .interships-option {
    width: 1000px;
    margin-left: 300px;
    border: 2px solid #000000;
    margin-top: 50px;
    border-radius: 20px;
}

.support-us-option {
    background-color: blue;
}

.volunteer-option {
    background-color: burlywood;
}

.interships-option {
    background-color: chocolate;
    margin-bottom: 50px;
}

.support-text h1 {
    font-size: 35px;
    color: #000000;
    text-align: center;
}

.support-text p {
    font-size: 20px;
    color: #000000;
    padding: 0px 50px 0px 50px;
}