.support-image img {
    width: 400px;
    height: 250px;
    border-radius: 20px;
}

.support-image {
    margin-left: 320px;
    margin-top: 20px;
}

.support-us-option, .volunteer-option, .interships-option {
    width: 1000px;
    margin-left: 300px;
    border: 2px solid #ffffff;
    margin-top: 50px;
    border-radius: 20px;
    height: 650px;
}

.support-us-option, .interships-option {
    background-color: #C4FAF8;
    box-shadow: 5px 5px 10px 12px #B0DDDB;
}

.volunteer-option {
    background-color: #c1eabc;
    box-shadow: 5px 5px 10px 12px #ACCDA8;
}

.interships-option {
    margin-bottom: 50px;
}

.support-text h1 {
    font-size: 35px;
    color: #000000;
    text-align: center;
}

.support-text p {
    font-size: 20px;
    color: #000000;
    padding: 0px 50px 0px 50px;
}

.support-button, .support-button-form {
    background-color: aliceblue;
    text-align: center;
    border: 2px solid black;
    border-radius: 20px;
    width: 550px;
    padding: 5px 0px 10px 0px;
}

.support-button-form {
    margin-left: 530px;
}

.support-button {
    margin-left: 250px;
}

.support-button a, .support-button-form a {
    text-decoration: none;
    color: red;
    font-size: 22px;
}

.donation-form {
    width: 1516px;
    font-size: 20px;
    background-color: #FAFABE;
    outline: none;
    margin-left: -10px;
}

#amount-one {
    margin-left: 250px;
}

#whole-custome-amount {
    margin-left: 500px;
}

#amount-two, #amount-three, #amount-four, #amount-five {
    margin-left: 100px;
}

input {
    outline: none;
    height: 20px;
    width: 20px;
}

textarea {
    font-size: 20px;
    width: 400px;
    box-sizing: border-box;
    outline: none;
  }
  
textarea {
    vertical-align: middle;
    height: 30px;
    resize: vertical;
    resize: none;
  }

  h1 {
    text-align: center;
  }