.visit-us-box-info {
    display: flex;
}

.visit-us-map-image {
    float: right;
    margin-left: 50px;
    margin-top: 30px;
}

#visit-us-text {
    float: left;
}

#visit-us-text h1 {
    color: #000000;
    text-align: center;
    font-size: 25px;
}

#visit-us-text p {
    color: #ffffff;
    text-align: center;
    font-size: 20px;
}

#visit-us-text {
    padding-left: 20px;
    padding-top: 30px;
}

.visit-us-box-one {
    margin: 30px 0px 30px 100px;
    width: 1300px;
    height: 300px;
    background-color: #5B8BF1;
    box-shadow: 5px 5px 10px 10px #023299;
    border-radius: 20px;
    margin-top: 50px;
}

.visit-us-more-info-buttons {
    display: flex;
}

#openning-hours-box, #free-admision-box, #faq-questions-visit-us {
    width: 400px;
    color: #000;
    border-radius: 20px;
    border: 2px solid #000000;
    margin: 30px 0px 30px 0px;
}

#openning-hours-box {
    background-color: #E49BC4;
}

#free-admision-box {
    background-color: #F2D0A5;
}

#faq-questions-visit-us {
    background-color: #AD9ACC;
}

#free-admision-box, #faq-questions-visit-us {
    margin-left: 50px;
}

#text-boxes-visit-us h1 {
    font-size: 35px;
    text-align: center;
}

#text-boxes-visit-us p {
    font-size: 20px;
    text-align: center;
}

#free-admision-box p {
    padding: 0px 20px 0px 20px;
}

#visit-us-faq-button {
    box-shadow: 5px 5px 10px 5px #094CDB;
    background-color: #023299;
    width: 200px;
    margin-left: 100px;
    text-align: center;
    border: 2px solid #ffffff;
    border-radius: 20px;
}

#visit-us-faq-button a {
    text-decoration: none;
    color: #ffffff;
}

#openning-hours-box {
    margin-left: 95px;
}

/* SPECIAL EFFECTS */

#openning-hours-box:hover, #free-admision-box:hover, #faq-questions-visit-us:hover {
    box-shadow: 0px 0px 10px 10px #626592;
}

#visit-us-faq-button:hover {
    background-color: #2E7702;
    box-shadow: 5px 5px 10px 5px #50CE03;
}

.visit-us-box-one:hover {
    background-color: #8ADF56;
    box-shadow: 5px 5px 10px 10px #2E7702;
}

#visit-us-text h1:hover, #visit-us-text p:hover {
    color: red;
}